<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation w-nav"> 
  <div class="navigation-container"> 
   <a class="logo w-inline-block" routerLink="/"><img src="assets/images/noiceland_logo.svg" alt="" class="image-logo" srcset=""></a> 
   <nav role="navigation" class="nav-menu w-nav-menu"> 
    <a class="navigation-link w-inline-block" routerLink="/"> 
     <div class="navigation-link-text">
       Home 
     </div> 
     <div class="navigation-hover"></div> </a> 
    <a class="navigation-link w-inline-block" routerLink="/latest_posts"> 
     <div class="navigation-link-text">
       Latest 
     </div> 
     <div class="navigation-hover"></div> </a> 
    <a class="navigation-link w-inline-block w--current" routerLink="/about"> 
     <div class="navigation-link-text">
       About 
     </div> 
     <div class="navigation-hover"></div> </a> 
   </nav> 
   <div class="menu-button w-nav-button"> 
    <div class="icon-2 w-icon-nav-menu"></div> 
   </div> 
  </div> 
 </div> 
 <div class="about-top"> 
  <div class="container cc-center"> 
   <div class="text-container"> 
    <div class="section-title-text">
      about 
    </div> 
    <h1 class="h1">Clita incorrupte at vix. Nam te molestie iudicabit erroribus odio.</h1> 
   </div> 
  </div> 
 </div> 
 <div class="header"></div> 
 <div class="about-blog"> 
  <div class="container cc-center"> 
   <div class="text-container"> 
    <div class="section-title-big">
      this is noiceland. 
    </div> 
    <p class="paragraph">Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed justo tation eligendi. Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri constituto incorrupte. Ut vim liber recteque eloquentiam, qui te exerci forensibus. Eu pri ullum meliore tincidunt, an ius aeque paulo saperet, eum modus tation an.</p> 
    <p class="paragraph">Vix mandamus deseruisse voluptatibus in. Ei pri epicurei indoctum. Aeterno oportere at his. Nam prompta recteque dissentias id. Aperiam atomorum iudicabit sed id, malis dicit pericula at vis.</p> 
    <p class="paragraph">At sea scripta nostrud facilisis, his at nihil ubique sententiae, aeque menandri urbanitas eu quo. Fastidii qualisque cum id. Tollit convenire adversarium duo te. Te vim dictas virtute iudicabit, tibique omittam cum ut, clita decore lucilius nec ei. Sit facer docendi ex, laoreet deserunt pro eu, eum putent virtute vivendum te. Purto interpretaris signiferumque te eam, at mel saperet voluptua.</p> 
    <a href="#contact" class="link-block w-inline-block"> 
     <div>
       Contact us 
     </div> </a> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="team"> 
  <div class="container"> 
   <div class="section-title-big">
     our team 
   </div> 
   <div class="posts-wrapper"> 
    <div class="collection-list-wrapper-7 w-dyn-list"> 
     <div class="w-dyn-items w-row"> 
      <div class="team-collection-item w-dyn-item w-col w-col-3"> 
       <div class="team-image"> 
        <img src="" alt="" srcset=""> 
       </div> 
       <div class="team-member-info"> 
        <div class="team-member-name"></div> 
        <div class="team-member-role"></div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
  
  <div
     id="contact"
     class="contact">

  <div class="container"> 
   <div class="text-container"> 
    <div class="section-title-big">
      Wanna get in touch? 
    </div> 
    <p class="paragraph cc-contact-text">Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed justo tation eligendi. Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri constituto incorrupte.</p> 
   </div> 
   <div class="contact-wrapper"> 
    <div class="contact-item-wrapper"> 
     <div class="contact-item"> 
      <div class="contact-number"> 
       <div class="number">
         1 
       </div> 
      </div> 
      <div class="contact-info-subtitle">
        ADDRESS 
      </div> 
      <div class="contact-info-text">
        144 N 7th St. #536<br>Brooklyn, NY 11249<br>United States 
      </div> 
     </div> 
    </div> 
    <div class="contact-item-wrapper"> 
     <div class="contact-item"> 
      <div class="contact-number"> 
       <div class="number">
         2 
       </div> 
      </div> 
      <div class="contact-info-subtitle">
        general INQUIRIES 
      </div> 
      <div class="contact-info-text">
        hello@noiceland.co 
      </div> 
     </div> 
    </div> 
    <div class="contact-item-wrapper"> 
     <div class="contact-item"> 
      <div class="contact-number"> 
       <div class="number">
         3 
       </div> 
      </div> 
      <div class="contact-info-subtitle">
        PRESS inquiries 
      </div> 
      <div class="contact-info-text">
        press@noiceland.co 
      </div> 
     </div> 
    </div> 
    <div class="contact-item-wrapper"> 
     <div class="contact-item"> 
      <div class="contact-number"> 
       <div class="number">
         4 
       </div> 
      </div> 
      <div class="contact-info-subtitle">
        potential contributors 
      </div> 
      <div class="contact-info-text">
        collab@noiceland.co 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="footer"> 
  <div class="container-footer"> 
   <div class="container"> 
    <div class="top-section"> 
     <a class="logo cc-footer w-inline-block" routerLink="/#"><img src="assets/images/logo-white.svg" alt="" class="image-logo" srcset=""></a> 
     <div class="footer-small-text">
       © 2018 Noiceland™, all rights reserved 
     </div> 
    </div> 
   </div> 
   <div class="separator-footer"> 
    <div class="separator-color footer-line"></div> 
   </div> 
   <div class="container"> 
    <div class="bottom"> 
     <div class="bottom-1"> 
      <div data-delay="0" class="dropdown w-dropdown"> 
       <div class="dropdown-toggle w-dropdown-toggle"> 
        <div class="icon w-icon-dropdown-toggle"></div> 
        <div>
          Category 
        </div> 
       </div> 
       <nav class="dropdown-list w-dropdown-list"> 
        <div class="w-dyn-list"> 
         <div class="w-dyn-items"> 
          <div class="dropdown-link w-dyn-item"> 
           <a class="dropdown-link-text" routerLink="/#"></a> 
          </div> 
         </div> 
         <div class="w-dyn-empty"> 
          <div>
            No items found. 
          </div> 
         </div> 
        </div> 
       </nav> 
      </div> 
      <div class="footer-categories"> 
       <div class="footer-title-text">
         Categories 
       </div> 
       <div class="footer-links-container cc-categories"> 
        <div class="w-dyn-list"> 
         <div class="collection-list w-dyn-items"> 
          <div class="footer-collection-item w-dyn-item"> 
           <a class="link-footer" routerLink="/#"></a> 
          </div> 
         </div> 
         <div class="w-dyn-empty"> 
          <div>
            No items found. 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="footer-newsletter"> 
       <div class="footer-title-text">
         Subscribe to newsletter 
       </div> 
       <div class="form-block w-form"> 
  
  <form
     id="email-form"
     name="email-form"
     class="form">

  <input
     type="email"
     class="text-field w-input"
     maxlength="256"
     name="Email-3"
     placeholder="Email address"
     id="Email-3"
     required>

         <input type="submit" value="Send" class="submit-button w-button"> 
        </form> 
       </div> 
      </div> 
     </div> 
     <div class="bottom-2"> 
      <div class="footer-links-container"> 
       <div class="footer-links"> 
        <div class="footer-title-text">
          Information 
        </div> 
        <div class="footer-links-inner"> 
         <a class="nav-link white w--current" routerLink="/about">about</a> 
         <a href="http://blog-b132a3.webflow.io/about#contact" class="nav-link white">contact</a> 
         <a class="nav-link white" routerLink="/#">terms</a> 
        </div> 
       </div> 
       <div class="footer-links"> 
        <div class="footer-title-text">
          follow us 
        </div> 
        <div class="footer-links-inner"> 
         <a class="nav-link white" routerLink="/#">instagram</a> 
         <a class="nav-link white" routerLink="/#">facebook</a> 
         <a class="nav-link white" routerLink="/#">twitter</a> 
        </div> 
       </div> 
       <div class="footer-links"> 
        <div class="footer-title-text">
          Template 
        </div> 
        <div class="footer-links-inner"> 
         <a class="nav-link white" routerLink="/image_license_info">Image License Info</a> 
         <a href="https://webflow.com/" class="nav-link white">Powered by Webflow</a> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

