<div class="post-content"> 
  <div class="post-content-wrapper"> 
   <h1>Image Licensing</h1> 
   <p class="image-licensing">All images in this template are from <a href="https://unsplash.com/">Unsplash.com</a>.<br><a href="https://unsplash.com/license">View the Unsplash License.</a></p> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

