<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div></div> 
 <div class="main-section-wrapper"> 
  <div class="columns w-row"> 
   <div class="home-info-column w-col w-col-8"> 
    <div class="home-page-title"> 
     <h1 class="h1">Mason secky-koebel</h1> 
     <a class="h3" routerLink="/#">the lighthouse education projecT</a> 
     <div class="div-block-6"> 
      <a href="https://www.instagram.com/mseckykoebel/" target="_blank" class="social-link-block w-inline-block"> 
       <div class="image-swap-container"> 
        <img src="assets/images/instagram.svg" width="75" alt="" class="image-dark" srcset=""> 
        <img src="assets/images/instagram_color.svg" width="75" alt="" class="image-non-dark" srcset=""> 
       </div> </a> 
      <a href="https://twitter.com/mseckykoebel" target="_blank" class="social-link-block w-inline-block"> 
       <div class="image-swap-container"> 
        <img src="assets/images/twitter.svg" width="75" alt="" class="image-dark" srcset=""> 
        <img src="assets/images/twitter_color_blue.svg" width="75" alt="" class="image-non-dark" srcset=""> 
       </div> </a> 
      <a href="https://www.linkedin.com/in/mason-secky-koebel-706237155/" target="_blank" class="social-link-block w-inline-block"> 
       <div class="image-swap-container"> 
        <img src="assets/images/linkedin.svg" width="341.5" alt="" class="image-dark" srcset=""> 
        <img src="assets/images/linkedin_color_blue.svg" width="341.5" alt="" class="image-non-dark" srcset=""> 
       </div> </a> 
      <a href="https://www.youtube.com/" target="_blank" class="social-link-block w-inline-block"> 
       <div class="image-swap-container"> 
        <img src="assets/images/youtube.svg" width="75" alt="" class="image-dark" srcset=""> 
        <img src="assets/images/youtube_color.svg" width="75" alt="" class="image-non-dark" srcset=""> 
       </div> </a> 
      <a href="mailto:mseckykoebel@u.northwestern.edu" class="social-link-block w-inline-block"> 
       <div class="image-swap-container"> 
        <img src="assets/images/gmail-1.svg" width="75" alt="" class="image-dark" srcset=""> 
        <img src="assets/images/gmail.svg" width="75" alt="" class="image-non-dark" srcset=""> 
       </div> </a> 
     </div> 
    </div> 
   </div> 
   <div class="home-image-column w-col w-col-4"> 
    <img src="assets/images/Main-Image.jpg" width="1005" srcset="assets/images/Main-Image-p-500.jpeg 500w, assets/images/Main-Image-p-800.jpeg 800w, assets/images/Main-Image-p-1080.jpeg 1080w, assets/images/Main-Image-p-1600.jpeg 1600w, assets/images/Main-Image-p-2000.jpeg 2000w, assets/images/Main-Image.jpg 2010w" sizes="(max-width: 479px) 65vw, (max-width: 767px) 75vw, (max-width: 991px) 25vw, 28vw" alt="" class="image-3"> 
   </div> 
  </div> 
 </div> 
 <div class="top-post-image-left"> 
  <div class="container"> 
   <div class="posts-wrapper"> 
    <div class="top-post-item"> 
     <a class="top-post-image w-inline-block" routerLink="/blog_posts_adaptive_learning"> 
      <div class="photo-highlight"> 
      </div>
  
  <img
     src="assets/images/Carnegie-Learning-Windows-on-a-Mac.PNG"
     width="651"
     srcset="assets/images/Carnegie-Learning-Windows-on-a-Mac-p-500.png 500w, assets/images/Carnegie-Learning-Windows-on-a-Mac-p-800.png 800w, assets/images/Carnegie-Learning-Windows-on-a-Mac-p-1080.png 1080w, assets/images/Carnegie-Learning-Windows-on-a-Mac-p-1600.png 1600w, assets/images/Carnegie-Learning-Windows-on-a-Mac-p-2000.png 2000w, assets/images/Carnegie-Learning-Windows-on-a-Mac.PNG 2798w"
     sizes="(max-width: 479px) 100vw, (max-width: 767px) 91vw, (max-width: 991px) 651px, 60vw"
     data-w-id="f49c9e05-7d1e-4ff4-a216-a456871cbd00"
     alt=""
     class="post-image">

      </a>
     <div class="top-post-text"> 
      <a class="category-link" routerLink="/#">education technology</a> 
      <a class="top-post-link-block w-inline-block" routerLink="/blog_posts_adaptive_learning"> 
       <div class="h2">
         adaptive learning shortcomings 
       </div> 
       <div class="post-short-text">
         Why the future of education should first concentrate on the basics 
       </div> </a> 
      <div class="post-author-text-with-image"> 
       <div class="post-author">
         by mason secky-koebel 
       </div> 
      </div> 
      <div class="post-author-text-with-image"> 
       <div class="post-author"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

