<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="over-right"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div></div> 
 <div class="main-section-wrapper"> 
  <div class="columns w-row"> 
   <div class="column-2 w-col w-col-8"> 
    <div class="home-page-title"> 
     <h1 class="h1">Mason secky-koebel</h1> 
     <a href="https://thelighthouseducationproject.com" target="_blank" class="h3">the lighthouse education projecT, EN ROUTE</a> 
    </div> 
    <div class="social-buttons"> 
     <div class="w-row"> 
      <div class="w-col w-col-2"></div> 
      <div class="w-col w-col-2"></div> 
      <div class="w-col w-col-2"></div> 
      <div class="w-col w-col-2"></div> 
      <div class="w-col w-col-2"></div> 
      <div class="w-col w-col-2"></div> 
     </div> 
    </div> 
   </div> 
   <div class="column w-col w-col-4"> 
    <img src="assets/images/SIGP_Smaller.png" width="750" srcset="assets/images/SIGP_Smaller-p-500.png 500w, assets/images/SIGP_Smaller-p-800.png 800w, assets/images/SIGP_Smaller-p-1080.png 1080w, assets/images/SIGP_Smaller.png 1500w" sizes="(max-width: 767px) 62vw, (max-width: 991px) 24vw, 26vw" alt="" class="image-3"> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

