<div></div> 
  
  <app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="rich-text"> 
    <div class="h2">
      the data 
    </div> 
    <p class="paragraph">In this section, I go over several weaknesses of adaptive learning platforms. As alluded to in the previous section, I keep this section within the context of the application of adaptive learning in the classroom, and as a supplement to the teacher for <em>teaching and knowledge acquisition</em>. I do not discuss the research that supports the use of adaptive learning and artificial intelligence in general, as the technology has a plethora of uses in education such as data visualization and interaction, supportive learning analytics, and mundane task automation (I discuss more practical uses of this technology in the next section). </p> 
    <p class="paragraph">Alternatively, I take the position of the learning scientist, and the learner, and explain how currently available learning platforms are unable to "bridge the gap" between effective methods of teaching and understood means of how the brain changes and adapts to the acquisition of new knowledge. I call this the <em>edtech catastrophe.</em></p> 
    <div class="h3">
      the edtech catastrophe 
    </div> 
    <p class="paragraph">Alternatively, I take the position of the learning scientist, and the learner, and explain how currently available learning platforms are unable to "bridge the gap" between effective methods of teaching and understood means of how the brain changes and adapts to the acquisition of new knowledge. I call this the <em>edtech catastrophe.</em></p> 
    <img src="assets/images/EdTech-Catastrophe-min.png" width="1100" srcset="assets/images/EdTech-Catastrophe-min.png 500w, ../assets/images/EdTech-Catastrophe-min.png 800w, ../assets/images/EdTech-Catastrophe-min.png 1080w, ../assets/images/EdTech-Catastrophe-min.png 2920w" sizes="(max-width: 479px) 100vw, (max-width: 991px) 92vw, 800px" alt=""> 
    <div class="image-footer">
      Source: Custom 
    </div> 
    <p class="paragraph">Essentially, the edtech catastrophe is the increasing breakdown in coherence between both increasingly effective means of educating, and advanced technology. Essentially, this means that as human understanding and knowledge acquisition grow in complexity, while technology does too, no reliable solution that can decisively monitor and produce such results and means currently exists.</p> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="latest-posts w-container"> 
  <div class="container"> 
   <div class="section-title-text"> 
    <strong>Related posts</strong> 
   </div> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper"> 
     <div class="posts-collection-list"> 
      <div class="_2-collection-item"> 
       <img src="assets/images/Harvey_Adjusted.jpg" width="850" srcset="assets/images/Harvey_Adjusted-p-500.jpeg 500w, ../assets/images/Harvey_Adjusted-p-1080.jpeg 1080w, ../assets/images/Harvey_Adjusted-p-1600.jpeg 1600w, ../assets/images/Harvey_Adjusted.jpg 1700w" sizes="(max-width: 767px) 98vw, (max-width: 991px) 46vw, 458px" alt=""> 
       <div class="post-info-text"> 
        <a class="post-title w-inline-block" routerLink="/blog_posts_adaptive_learning"> <h2 class="h3">adaptive learning shortcomings part II: the data</h2> </a> 
       </div> 
       <div class="post-author-text-with-image"> 
        <div class="post-author">
          mason secky-koebel 
        </div> 
        <div class="date-of-post">
          12 June, 2019 
        </div> 
       </div> 
      </div> 
      <div class="_2-collection-item"> 
       <img src="assets/images/AvaHarvey_Adjusted.jpg" width="850" srcset="assets/images/AvaHarvey_Adjusted-p-500.jpeg 500w, ../assets/images/AvaHarvey_Adjusted-p-1080.jpeg 1080w, ../assets/images/AvaHarvey_Adjusted-p-1600.jpeg 1600w, ../assets/images/AvaHarvey_Adjusted.jpg 1700w" sizes="(max-width: 767px) 98vw, (max-width: 991px) 46vw, 458px" alt=""> 
       <div class="post-info-text"> 
        <a class="post-title w-inline-block" routerLink="/blog_posts_adaptive_learning"> <h2 class="h3">adaptive learning shortcomings Part III: viable applications</h2> </a> 
       </div> 
       <div class="post-author-text-with-image"> 
        <div class="post-author">
          mason secky-koebel 
        </div> 
        <div class="date-of-post">
          23 july, 2019 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

