<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="over-right"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="top-post"> 
  <div class="container"> 
   <div class="posts-wrapper cc-top-post"> 
    <div class="w-dyn-list"> 
     <div class="w-dyn-items"> 
      <div class="top-post-item w-dyn-item"> 
  
  <a
     data-w-id="f584d68a-6baf-e0a3-5c39-421b1f2647d2"
     style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(-20DEG) rotateY(10DEG) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(-20DEG) rotateY(10DEG) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(-20DEG) rotateY(10DEG) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(-20DEG) rotateY(10DEG) rotateZ(0) skew(0, 0);opacity:0;transform-style:preserve-3d"
     class="top-post-image w-inline-block"
     routerLink="/#">

        <div class="photo-highlight"> 
        </div>
  
  <img
     data-w-id="189508e7-a4d1-4d88-ae18-50e889c32233"
     src=""
     alt=""
     class="post-image"
     srcset="">

        </a>
       <div class="top-post-text"> 
        <a class="category-link" routerLink="/#"></a> 
        <a class="top-post-link-block w-inline-block" routerLink="/#"> <h2 class="h2"></h2> </a> 
        <div class="post-short-text"></div> 
        <div class="post-author-text"> 
         <div class="post-author cc-top-margin">
           By 
         </div> 
         <a class="post-author" routerLink="/#"></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="_3-posts"> 
  <div class="container"> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper w-dyn-list"> 
  
  <div
     data-w-id="56790bf8-d103-7ca9-e653-899a2f1bc2cb"
     style="opacity:0"
     class="posts-collection-list w-dyn-items w-row">

      <div class="_3-collection-item w-dyn-item w-col w-col-4"> 
       <a class="posts-image w-inline-block" routerLink="/#"><img src="" alt="" srcset=""></a> 
       <div class="post-info-text"> 
        <a class="category-link" routerLink="/#"></a> 
        <a class="post-title w-inline-block" routerLink="/#"> <h3 class="h3"></h3> </a> 
        <div class="post-author-text cc-small-thumbnail"> 
         <div class="post-author cc-top-margin">
           By 
         </div> 
         <a class="post-author" routerLink="/#"></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="latest-posts"> 
  <div class="container"> 
   <div class="section-title-text">
     LATEST POSTS 
   </div> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper w-dyn-list"> 
     <div class="posts-collection-list w-dyn-items w-row"> 
      <div class="_4-collection-item w-dyn-item w-col w-col-3"> 
       <a class="posts-image w-inline-block" routerLink="/#"><img src="" alt="" srcset=""></a> 
       <div class="post-info-text"> 
        <a class="category-link" routerLink="/#"></a> 
        <a class="post-title w-inline-block" routerLink="/#"> <h2 class="h3"></h2> </a> 
        <div class="post-author-text cc-small-thumbnail"> 
         <div class="post-author cc-top-margin">
           By 
         </div> 
         <a class="post-author" routerLink="/#"></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
    <a class="button w-button" routerLink="/latest_posts">view all latest posts</a> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="featured-posts"> 
  <div class="container"> 
   <div class="section-title-text">
     featured POSTS 
   </div> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper w-dyn-list"> 
     <div class="posts-collection-list w-dyn-items w-row"> 
      <div class="_2-collection-item w-dyn-item w-col w-col-6"> 
       <a class="posts-image w-inline-block" routerLink="/#"><img src="" alt="" srcset=""></a> 
       <div class="post-info-text"> 
        <a class="category-link" routerLink="/#"></a> 
        <a class="post-title w-inline-block" routerLink="/#"> <h2 class="h3"></h2> </a> 
        <div class="post-author-text cc-small-thumbnail"> 
         <div class="post-author cc-top-margin">
           By 
         </div> 
         <a class="post-author" routerLink="/#"></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

