<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="over-right"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="title-section"> 
  
  <div
     data-w-id="c8f0aa1d-e0ec-8d59-bb5a-ab5abae6eecd"
     style="-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
     class="container cc-center">

   <div class="text-container"> 
    <a class="section-title-text w-inline-block" routerLink="/#"> 
     <div class="post-category-text"></div> </a> 
    <h1 class="h1"></h1> 
    <div class="post-author-text-with-image cc-center"> 
     <div class="author-image-wrapper"></div> 
     <a class="post-author" routerLink="/#"></a> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="post-image"> 
  <div class="container cc-post-image"> 
   <img src="" alt="" srcset=""> 
  </div> 
 </div> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="rich-text w-richtext"></div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="latest-posts"> 
  <div class="container"> 
   <div class="section-title-text">
     Latest POSTS 
   </div> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper w-dyn-list"> 
     <div class="posts-collection-list w-dyn-items w-row"> 
      <div class="_2-collection-item w-dyn-item w-col w-col-6"> 
       <a class="posts-image w-inline-block" routerLink="/#"><img src="" alt="" srcset=""></a> 
       <div class="post-info-text"> 
        <a class="category-link" routerLink="/#"></a> 
        <a class="post-title w-inline-block" routerLink="/#"> <h2 class="h3"></h2> </a> 
        <div class="post-author-text-with-image cc-small-thumbnail"> 
         <div class="post-author cc-top-margin">
           By 
         </div> 
         <a class="post-author" routerLink="/#"></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="footer"> 
  <div class="container-footer"> 
   <div class="container"> 
    <div class="top-section"> 
     <a class="logo cc-footer w-inline-block" routerLink="/#"><img src="assets/images/logo-white.svg" alt="" class="image-logo" srcset=""></a> 
     <div class="footer-small-text">
       © 2018 Noiceland™, all rights reserved 
     </div> 
    </div> 
   </div> 
   <div class="separator-footer"> 
    <div class="separator-color footer-line"></div> 
   </div> 
   <div class="container"> 
    <div class="bottom"> 
     <div class="bottom-1"> 
      <div data-delay="0" class="dropdown w-dropdown"> 
       <div class="dropdown-toggle w-dropdown-toggle"> 
        <div class="icon w-icon-dropdown-toggle"></div> 
        <div>
          Category 
        </div> 
       </div> 
       <nav class="dropdown-list w-dropdown-list"> 
        <div class="w-dyn-list"> 
         <div class="w-dyn-items"> 
          <div class="dropdown-link w-dyn-item"> 
           <a class="dropdown-link-text" routerLink="/#"></a> 
          </div> 
         </div> 
         <div class="w-dyn-empty"> 
          <div>
            No items found. 
          </div> 
         </div> 
        </div> 
       </nav> 
      </div> 
      <div class="footer-categories"> 
       <div class="footer-title-text">
         Categories 
       </div> 
       <div class="footer-links-container cc-categories"> 
        <div class="w-dyn-list"> 
         <div class="collection-list w-dyn-items"> 
          <div class="footer-collection-item w-dyn-item"> 
           <a class="link-footer" routerLink="/#"></a> 
          </div> 
         </div> 
         <div class="w-dyn-empty"> 
          <div>
            No items found. 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="footer-newsletter"> 
       <div class="footer-title-text">
         Subscribe to newsletter 
       </div> 
       <div class="form-block w-form"> 
  
  <form
     id="email-form"
     name="email-form"
     class="form">

  <input
     type="email"
     class="text-field w-input"
     maxlength="256"
     name="Email-3"
     placeholder="Email address"
     id="Email-3"
     required>

         <input type="submit" value="Send" class="submit-button w-button"> 
        </form> 
       </div> 
      </div> 
     </div> 
     <div class="bottom-2"> 
      <div class="footer-links-container"> 
       <div class="footer-links"> 
        <div class="footer-title-text">
          Information 
        </div> 
        <div class="footer-links-inner"> 
         <a class="nav-link white" routerLink="/">about</a> 
         <a href="http://blog-b132a3.webflow.io/about#contact" class="nav-link white">contact</a> 
         <a class="nav-link white" routerLink="/#">terms</a> 
        </div> 
       </div> 
       <div class="footer-links"> 
        <div class="footer-title-text">
          follow us 
        </div> 
        <div class="footer-links-inner"> 
         <a class="nav-link white" routerLink="/#">instagram</a> 
         <a class="nav-link white" routerLink="/#">facebook</a> 
         <a class="nav-link white" routerLink="/#">twitter</a> 
        </div> 
       </div> 
       <div class="footer-links"> 
        <div class="footer-title-text">
          Template 
        </div> 
        <div class="footer-links-inner"> 
         <a class="nav-link white" routerLink="/_image_license_info">Image License Info</a> 
         <a href="https://webflow.com/" class="nav-link white">Powered by Webflow</a> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

