<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="title-section"> 
  <div class="container cc-center"> 
   <div class="text-container"> 
    <div class="post-category"> 
     <strong>education technology</strong> 
    </div> 
    <h1 class="h1">adaptive learning shortcomings</h1> 
    <div class="h3">
      why the future of education should first focus on the basics 
    </div> 
    <div class="post-author-text-with-image"> 
     <div class="author-image-wrapper"> 
      <img src="assets/images/Featured-Photo.png" width="50" alt="" class="image-8" srcset=""> 
     </div> 
     <a class="post-author" routerLink="/">Mason Secky-Koebel</a> 
     <div class="date-of-post">
       october 3rd, 2019 - REVision 1.4 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="post-image"> 
  <div class="container"> 
   <img src="assets/images/Carnegie-Learning-Being-Stupid-min.PNG" width="1500" alt="A classroom full of kids, all of whom are on computers" srcset="assets/images/Carnegie-Learning-Being-Stupid-min-p-500.png 500w, ../assets/images/Carnegie-Learning-Being-Stupid-min-p-800.png 800w, ../assets/images/Carnegie-Learning-Being-Stupid-min-p-1080.png 1080w, ../assets/images/Carnegie-Learning-Being-Stupid-min-p-1600.png 1600w, ../assets/images/Carnegie-Learning-Being-Stupid-min-p-2000.png 2000w, ../assets/images/Carnegie-Learning-Being-Stupid-min.PNG 3840w" sizes="100vw" class="image-4"> 
   <div class="image-footer">
     Source: Carnegie Learning. 
   </div> 
  </div> 
 </div> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="h2">
     sequential design and it's impact on the way we think 
   </div> 
   <p class="paragraph">This is the beginning of the third installment!</p> 
   <div class="post-content-separator"> 
    <div class="line-color"></div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

