.container {
  font-family: "WarnockPro-Regular";
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  /* Make this center if you want your name to be in the middle */
  align-items: left;
}

.backToHome {
  font-family: "WarnockPro-Regular";
  margin: 3rem 0 0;
}
