<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="over-right"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="title-section cc-detail"> 
  <div class="container"> 
   <h2 class="h2 cc-title-section">Latest Posts</h2> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper w-dyn-list"> 
     <div class="posts-collection-list w-dyn-items w-row"> 
      <div class="_3-collection-item w-dyn-item w-col w-col-4"> 
       <a class="posts-image w-inline-block" routerLink="/#"><img src="" alt="" srcset=""></a> 
       <div class="post-info-text"> 
        <a class="category-link" routerLink="/#"></a> 
        <a class="post-title w-inline-block" routerLink="/#"> <h3 class="h3"></h3> </a> 
        <div class="post-author-text cc-small-thumbnail"> 
         <div class="post-author cc-top-margin">
           By 
         </div> 
         <a class="post-author" routerLink="/#"></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="w-dyn-empty"> 
      <div>
        No items found. 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

