<div></div> 
  
  <app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="h2">
     what is adaptive learning good for? 
   </div> 
   <p class="paragraph">In the previous section, I went over numerous shortcomings of adaptive learning as it currently exists, and how it is being applied. You may be asking yourself: is adaptive learning good for anything?</p> 
   <p class="paragraph">I mentioned the need for context, as well as the presence of having the intention and intrinsic motivation to learn a subject. There is a difference between <em>cultivating </em>interest and <em>exercising </em>interest. When motivation and intent are present, and someone knows what they are doing, I think this is where adaptive learning shines.</p> 
   <div class="h3">
     The Importance of Insight and Analytics 
   </div> 
   <p class="paragraph">Teachers value the ability to understand their students. For me, what adaptive learning does best is its ability to process and analyze the data they collect on individual students, and visually display it to teachers.</p> 
   <p class="paragraph">This for me is the biggest selling point, assuming I am a teacher of a classroom that understands how to use adaptive learning, and correctly distributes material to my students. I could confidently shift my focus to what is needed more generally after getting insight into what my class is succeeding in, and what they are having a hard time with.</p> 
   <img src="assets/images/Century-And-Good-Data.PNG" width="1156" srcset="assets/images/Century-And-Good-Data-p-500.png 500w, ../assets/images/Century-And-Good-Data-p-800.png 800w, ../assets/images/Century-And-Good-Data-p-1080.png 1080w, ../assets/images/Century-And-Good-Data-p-1600.png 1600w, ../assets/images/Century-And-Good-Data-p-2000.png 2000w, ../assets/images/Century-And-Good-Data.PNG 2312w" sizes="(max-width: 479px) 100vw, (max-width: 991px) 92vw, 800px" alt=""> 
   <div class="image-footer">
     Source: CENTURY Tech's learning analytics dashboard. 
   </div> 
   <p class="paragraph">Now, I have pointed fingers at <em>how </em>the data is collected, but assuming the data was accurate and delivered in a way that is easy to interpret, I think this is <em>very </em>relevant in the scope of a classroom. </p> 
   <div class="h3">
     Moving Through Mistakes, and Not Around Them 
   </div> 
   <p class="paragraph">The theory of "growth" and "fixed" mindsets is based on the notion that individuals with "growth" mindsets possess the capacity to persevere through their mistakes and to recognize the fact that one can learn and make progress in learning when a mistake is made. Because those with "growth" mindsets see intelligence as a function of the amount of work one puts in, and not natural ability, mistakes are not seen as personal reflections of intelligence, but as basic obstacles in the process of learning something.</p> 
   <p class="paragraph">Adaptive learning, in its function, will show you material that it confidently thinks you already know, and this can help jog your memory on material that is related to solving the problem, leading to perseverance. This is helpful, as it can show you the area of review that you should be concerned with to progress. Now, yes, this is still on the basic premise of solving problems, and it still rewards correct answers and the process of solving these problems, but at least the student has a "personal" knowledge base to work with that they can access if they need it. </p> 
   <div class="h3">
     After Motivation, Comes Growth - Adaptive Learning for the Seasoned Learner 
   </div> 
   <p class="paragraph">I think adaptive learning has more of a home when learning context, motivation, and intention have already been established. Right away, I think of adults who want to learn a new skill and can log into a website, or use a service, that has a set of expectations that one has to meet. It is a big part of the backbone of online degrees and certification, and it is one of the best consequences of the existence of the internet - if you want to learn something, you can.</p> 
   <p class="paragraph">This comes with the premise that to seek out knowledge, you must have motivation and intention to seek out the knowledge. If you know yourself, and you know what you want to look for, on the internet, you can do it. I think adaptive learning in the scope of <em>specific lessons</em> can be effective because, in this setting, context and motivation do not need to be cultivated, as it is already present. Adaptive learning's reason for existing becomes clearer the less reliant on context and cultivating interest becomes.</p> 
   <p class="paragraph">This means that for adolescents, I think adaptive learning is at its weakest. However, when someone wants to learn something, and they know <em>why</em> they want to learn it, adaptive learning has its perks.</p> 
   <div class="post-content-separator"> 
    <div class="line-color"></div> 
   </div> 
   <div class="h2">
     Conclusion - To the Future 
   </div> 
   <p class="paragraph">I am a believer in technology - I believe that one day, technology, by some medium, will be able to understand the context in which learning occurs strong enough, and can be implemented affordably enough, so that education can finally be disrupted by technology on the macro scale.</p> 
   <p class="paragraph">But for now, learning science and artificial intelligence still need to work on their relationship, just like mindset research advocates and equality advocates. As far as teaching adolescents are concerned, I believe new innovative solutions are required that really hone the learning science research, and intentionally employ engineering practices that may not exactly overlap and latch on blindly to the "newest"technology. I want the future of adolescent education to not have as many holes and inconsistencies as adaptive learning does. And, of course, understanding has to be appreciated more than knowing.</p> 
   <p class="paragraph">As with any great solution, technology should not come before the problem. Identifying the weakest points, and designing solutions that directly try and address the issues of motivation, equity, and true personalization, while not being driven by the need to commodify our lives, needs to be the focus. Until a time when computers can mimic human intuition and can understand context, education needs to emphasize collaboration between the young brains of motivated and inquisitive peers, and not isolation, behind a highly-trained, impersonal guesser.</p> 
   <div class="h2">
     references 
   </div> 
   <p class="paragraph">In progress, and presented in no particular order:</p> 
   <p class="citation">Carpenter, Thomas P., et al. Childrens Mathematics: Cognitively Guided Instruction. Heinemann, 2015.</p> 
   <p class="citation">Bransford, John D. How People Learn: Brain, Mind, Experience, and School. National Acad. Press, 2004.</p> 
   <p class="citation">Boaler, Jo, et al. Mindset Mathematics: Visualizing and Investigating Big Ideas. Jossey-Bass, 2019.</p> 
   <p class="citation">Boaler, Jo. Mathematical Mindsets Unleashing Students Potential through Creative Math, Inspiring Messages and Innovative Teaching. Jossey-Bass, 2016.</p> 
   <p class="citation">Gorski, Paul C. Reaching and Teaching Students in Poverty: Strategies for Erasing the Opportunity Gap. Teachers College Press, 2018.</p> 
   <p class="citation">Dweck, Carol S, et al. “Implicit Theories, Attributions, and Coping: A Meaning System Approach.” Journal of Personality and Social Psychology, vol. 77, no. 3, 1999, pp. 588–599.</p> 
   <p class="citation">Sisk, Victoria F, et al. “To What Extent and Under Which Circumstances Are Growth Mind-Sets Important to Academic Achievement? Two Meta-Analyses.” Association for Psychological Science, vol. 29, no. 4, 2018, pp. 549–571.</p> 
   <p class="citation">Oakes, Jeannie. “Keeping Track, Part 1: The Policy and Practice Of Curriculum Inequality.” Equity Materials, 2000.</p> 
   <p class="citation">Supekar, Kaustubh, et al. “Neural Predictors of Individual Differences in Response to Math Tutoring in Primary-Grade School Children.” PNAS, vol. 110, no. 20, 13 May 2013, pp. 8230–8235.</p> 
   <p class="citation">Gorski, Paul C. Reaching and Teaching Students in Poverty: Strategies for Erasing the Opportunity Gap. Teachers College Press, 2018.</p> 
   <div class="post-content-separator"> 
    <div class="line-color"></div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

