<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="democracy"> 
  <div class="container cc-center"> 
   <div class="text-container"> 
    <div class="post-category"> 
     <strong>psychology</strong> 
    </div> 
    <h1 class="h1">the problem with logical thinking</h1> 
    <div class="h3">
      why pushing the boundaries is the only vehicle for change 
    </div> 
    <div class="post-author-text-with-image"> 
     <div class="author-image-wrapper"> 
      <img src="assets/images/Featured-Photo.png" width="50" alt="" class="image-8" srcset=""> 
     </div> 
     <a class="post-author" routerLink="/">Mason Secky-Koebel</a> 
     <div class="date-of-post">
       february 2020 - revision .1 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <h2 class="h2">on your marks...</h2> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

