<div></div> 
  
  <app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="rich-text"> 
    <div class="h2">
      setting the stage: knowing vs understanding 
    </div> 
    <p class="paragraph">The difference between knowing and understanding can be compared to the same differences between memory recognition, and memory recall. It is much easier for people to recognize things that they are "familiar" with than it is to recall information from their own minds (this is why the GUI took over from command-line interfaces in the 80s); it is much easier to recognize the trash icon on a computer desktop as something that throws away documents or files that you no longer want, than it is to try and learn/remember the string of commands that deletes a certain file. Of course,one can eventually memorize the correct sequence of events in order to accomplish this, but in order for the adoption of computers to occur in the first-place, they had to be intuitive - the GUI was made for this very reason. </p> 
    <img src="assets/images/Desktop-Example-Smaller.png" srcset="assets/images/Desktop-Example-Smaller-p-500.png 500w, ../assets/images/Desktop-Example-Smaller-p-800.png 800w, ../assets/images/Desktop-Example-Smaller-p-1080.png 1080w, ../assets/images/Desktop-Example-Smaller-p-1600.png 1600w, ../assets/images/Desktop-Example-Smaller-p-2000.png 2000w, ../assets/images/Desktop-Example-Smaller.png 2200w" sizes="(max-width: 479px) 88vw, (max-width: 991px) 92vw, 800px" alt=""> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="latest-posts w-container"> 
  <div class="container"> 
   <div class="section-title-text"> 
    <strong>Related posts</strong> 
   </div> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper"> 
     <div class="posts-collection-list"> 
      <div class="_2-collection-item"> 
       <img src="assets/images/Harvey_Adjusted.jpg" width="850" srcset="assets/images/Harvey_Adjusted-p-500.jpeg 500w, ../assets/images/Harvey_Adjusted-p-1080.jpeg 1080w, ../assets/images/Harvey_Adjusted-p-1600.jpeg 1600w, ../assets/images/Harvey_Adjusted.jpg 1700w" sizes="(max-width: 767px) 98vw, (max-width: 991px) 46vw, 458px" alt=""> 
       <div class="post-info-text"> 
        <a class="post-title w-inline-block" routerLink="/blog_posts_adaptive_learning"> <h2 class="h3">adaptive learning shortcomings part II: the data</h2> </a> 
       </div> 
       <div class="post-author-text-with-image"> 
        <div class="post-author">
          mason secky-koebel 
        </div> 
        <div class="date-of-post">
          12 June, 2019 
        </div> 
       </div> 
      </div> 
      <div class="_2-collection-item"> 
       <img src="assets/images/AvaHarvey_Adjusted.jpg" width="850" srcset="assets/images/AvaHarvey_Adjusted-p-500.jpeg 500w, ../assets/images/AvaHarvey_Adjusted-p-1080.jpeg 1080w, ../assets/images/AvaHarvey_Adjusted-p-1600.jpeg 1600w, ../assets/images/AvaHarvey_Adjusted.jpg 1700w" sizes="(max-width: 767px) 98vw, (max-width: 991px) 46vw, 458px" alt=""> 
       <div class="post-info-text"> 
        <a class="post-title w-inline-block" routerLink="/blog_posts_adaptive_learning"> <h2 class="h3">adaptive learning shortcomings Part III: viable applications</h2> </a> 
       </div> 
       <div class="post-author-text-with-image"> 
        <div class="post-author">
          mason secky-koebel 
        </div> 
        <div class="date-of-post">
          23 july, 2019 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

