<div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="style-guide-label">
     Rich Text Element styles 
   </div> 
   <div class="rich-text w-richtext"> 
    <h1>Heading 1</h1> 
    <h2>Heading 2</h2> 
    <h3>Heading 3</h3> 
    <h4>Heading 4</h4> 
    <h5>Heading 5</h5> 
    <h6>Heading 6</h6> 
    <p><strong>Bold</strong></p> 
    <p><em>Italic</em></p> 
    <p><a href="http://webflow.com">Link</a></p> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p> 
    <blockquote>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum. 
    </blockquote> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p> 
    <ul> 
     <li>Unordered list item</li> 
     <li>Unordered list item</li> 
     <li>Unordered list item</li> 
    </ul> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p> 
    <ol> 
     <li>Ordered list item</li> 
     <li>Ordered list item</li> 
     <li>Ordered list item</li> 
    </ol> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p> 
    <figure class="w-richtext-align-center w-richtext-figure-type-image"> 
     <div> 
      <img src="assets/images/5b475851731aa100cca67ffd_article-image-3.jpg" alt="" srcset=""> 
     </div> 
     <figcaption>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum 
     </figcaption> 
    </figure> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam. Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p> 
   </div> 
  </div> 
 </div> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

