<app-nav-bar
     id="navbar_id"
     data-collapse="medium"
     data-animation="default"
     data-duration="400"
     data-doc-height="1"
     ng-symbol="nav-bar">

 </app-nav-bar> 
 <div class="title-section"> 
  <div class="container cc-center"> 
   <div class="text-container"> 
    <div class="post-category"> 
     <strong>education technology</strong> 
    </div> 
    <h1 class="h1">ADAPTIVE LEARNING SHORTCOMINGS</h1> 
    <div class="h3">
      the future of education should first concentrate on the basics 
    </div> 
    <div class="post-author-text-with-image"> 
     <div class="author-image-wrapper"> 
      <img src="assets/images/Featured-Photo.png" width="50" alt="" srcset=""> 
     </div> 
     <a class="post-author" routerLink="/">Mason Secky-Koebel</a> 
     <div class="date-of-post">
       August 29th, 2019 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="post-image"> 
  <div class="container"> 
   <img src="assets/images/Ava_16_9-min.jpg" width="1500" alt="A beagle" srcset="assets/images/Ava_16_9-min.jpg 500w, ../assets/images/Ava_16_9-min.jpg 1080w, ../assets/images/Ava_16_9-min.jpg 1600w, ../assets/images/Ava_16_9-min.jpg 2000w, ../assets/images/Ava_16_9-min.jpg 2600w, ../assets/images/Ava_16_9-min.jpg 3000w" sizes="100vw" class="image-4"> 
  </div> 
 </div> 
 <div class="post-content"> 
  <div class="post-content-wrapper"> 
   <div class="rich-text"> 
    <div class="h2">
      introduction: some assumptions 
    </div> 
    <p class="paragraph">I am not going to spend a lot of time in this report discussing the specific technology behind adaptive learning, or much in the way of the definition of the term itself. Definitions such as this one offered by McGraw Hill, and this one offered by SmartSparrow, are concise and clear enough to get an understanding, although it should be known that these two sources are involved in the selling, and distribution of these programs, so their definitions will be sure to highlight their benefits, as well as all of the complex work that goes into their design. </p> 
    <p class="paragraph">Furthermore, the scope of this report does not cover the technology that powers these platforms, nor the theory they are based on. This report speaks about the deficiencies and the flaws of adaptive learning within the context of the classroom; this includes e-learning "platforms" designed to be integrated into the classroom as a learning supplement, and/or some sort of proficiency determinant to some capacity. I give examples of research, publications, and stories that counter a lot of the positive press these sorts of programs garner, and why claimed technology advancements in offered to a classroom, or even to a household, should always be taken with a grain of salt. It is important to remember that those of whom that are writing about, or raving about adaptive learning programs, are usually the people trying to sell them, or are involved in the research showing their efficacy</p> 
    <p class="paragraph">I do not pose solutions to the issues I discuss, but instead address what software, or human intervention, would need to do to solve the deficiencies I raise. At the end of this report, I explain how I believe adaptive learning, and artificial intelligence (the technology that powers it), can be useful and should be used in the sphere of education, and the realm of the acquisition of knowledge as a fundamental human right.</p> 
   </div> 
   <div class="post-content-separator"> 
    <div class="line-color"></div> 
   </div> 
   <div class="rich-text"> 
    <div class="h2">
      setting the stage: knowing vs understanding 
    </div> 
    <p class="paragraph">The difference between knowing and understanding can be compared to the same differences between memory recognition, and memory recall. It is much easier for people to recognize things that they are "familiar" with than it is to recall information from their own minds (this is why the GUI took over from command-line interfaces in the 80s); it is much easier to recognize the trash icon on a computer desktop as something that throws away documents or files that you no longer want, than it is to try and learn/remember the string of commands that deletes a certain file. Of course,one can eventually memorize the correct sequence of events in order to accomplish this, but in order for the adoption of computers to occur in the first-place, they had to be intuitive - the GUI was made for this very reason. </p> 
    <img src="assets/images/Desktop-Example-Smaller.png" width="1100" srcset="assets/images/Desktop-Example-Smaller.png 500w, ../assets/images/Desktop-Example-Smaller.png 800w, ../assets/images/Desktop-Example-Smaller.png 1080w, ../assets/images/Desktop-Example-Smaller.png 1600w, ../assets/images/Desktop-Example-Smaller.png 2000w, ../assets/images/Desktop-Example-Smaller.png 2200w" sizes="(max-width: 479px) 100vw, (max-width: 991px) 92vw, 800px" alt=""> 
    <div class="image-footer">
      A modern desktop is designed for memory recognition - it is after we have recognized that we learn to recall the functions of buttons 
    </div> 
    <p class="paragraph">Furthermore, the scope of this report does not cover the technology that powers these platforms, nor the theory they are based on. This report speaks about the deficiencies and the flaws of adaptive learning within the context of the classroom; this includes e-learning "platforms" designed to be integrated into the classroom as a learning supplement, and/or some sort of proficiency determinant to some capacity. I give examples of research, publications, and stories that counter a lot of the positive press these sorts of programs garner, and why claimed technology advancements in offered to a classroom, or even to a household, should always be taken with a grain of salt. It is important to remember that those of whom that are writing about, or raving about adaptive learning programs, are usually the people trying to sell them, or are involved in the research showing their efficacy. </p> 
    <p class="paragraph">I do not pose solutions to the issues I discuss, but instead address what software, or human intervention, would need to do to solve the deficiencies I raise. At the end of this report, I explain how I believe adaptive learning, and artificial intelligence (the technology that powers it), can be useful and should be used in the sphere of education, and the realm of the acquisition of knowledge as a fundamental human right.</p> 
   </div> 
  </div> 
 </div> 
 <div class="separator"> 
  <div class="separator-container"> 
   <div class="line-color"></div> 
  </div> 
 </div> 
 <div class="latest-posts w-container"> 
  <div class="container"> 
   <div class="section-title-text"> 
    <strong>Related posts</strong> 
   </div> 
   <div class="posts-wrapper"> 
    <div class="posts-collection-list-wrapper"> 
     <div class="posts-collection-list"> 
      <div class="_2-collection-item"> 
       <img src="assets/images/Harvey_Adjusted.jpg" width="850" srcset="assets/images/Harvey_Adjusted-p-500.jpeg 500w, ../assets/images/Harvey_Adjusted-p-1080.jpeg 1080w, ../assets/images/Harvey_Adjusted-p-1600.jpeg 1600w, ../assets/images/Harvey_Adjusted.jpg 1700w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 98vw, (max-width: 991px) 46vw, 458px" alt=""> 
       <div class="post-info-text"> 
        <a class="post-title w-inline-block" routerLink="/#"> <h2 class="h3">example of first</h2> </a> 
       </div> 
       <div class="post-author-text-with-image"> 
        <div class="post-author">
          mason secky-koebel 
        </div> 
        <div class="date-of-post">
          12 June, 2019 
        </div> 
       </div> 
      </div> 
      <div class="_2-collection-item"> 
       <img src="assets/images/AvaHarvey_Adjusted.jpg" width="850" srcset="assets/images/AvaHarvey_Adjusted-p-500.jpeg 500w, ../assets/images/AvaHarvey_Adjusted-p-1080.jpeg 1080w, ../assets/images/AvaHarvey_Adjusted-p-1600.jpeg 1600w, ../assets/images/AvaHarvey_Adjusted.jpg 1700w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 98vw, (max-width: 991px) 46vw, 458px" alt=""> 
       <div class="post-info-text"> 
        <a class="post-title w-inline-block" routerLink="/#"> <h2 class="h3">example of second</h2> </a> 
       </div> 
       <div class="post-author-text-with-image"> 
        <div class="post-author">
          mason secky-koebel 
        </div> 
        <div class="date-of-post">
          23 july, 2019 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <a class="link-block-2 w-inline-block" routerLink="/#"></a> 
 <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

