.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1rem;
  line-height: 1.3;
}

.headingMdBold {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 600;
}

.borderCircle {
  border-radius: 9999px;
  height: 108px;
  max-width: 100vw;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.paddingBottom1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.divider {
  width: 100%;
  height: 1.1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6c7075;
  border: 0 none;
}

/* Mail form */

.marginBottom {
  margin-bottom: 1.5rem;
}

.emailLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}

.emailInput {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  border-width: 1px;
  /* grey text and grey box */
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  /* display */
  display: block;
  width: 100%;
  padding: 0.625rem;
}

/* focus */
.emailInput:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
}
